.dashboard {
	--page-width: 1440px;
	--item-gap: 20px;

	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #252525, #151515);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--item-gap);

	> .head {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		> .container {
			width: var(--page-width);
			height: 100%;
			//background: linear-gradient(to bottom, #303030, #202020);
			//border: 1px solid #282828;
			//padding: 10px;
			color: #909090;
			border-radius: 0px 0px 8px 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--item-gap);
			
			> .navigation {
				flex: 1;
				font-size: 14px;
				font-weight: bold;
				display: flex;
				align-items: center;
				gap: 10px;

				> .item {
					height: 40px;
					background-color: #00000025;
					padding: 4px 6px 4px 6px;
					border-radius: 4px;
					cursor: pointer;
					display: flex;
					align-items: center;

					> i {
						margin: 4px;
					}
				}
			}

			> .context {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;
			}

			> .actions {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--item-gap);
			}

			> .profile {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--item-gap);
			}
		}
	}

	> .body {
		flex: 1;
		width: var(--page-width);
		display: flex;
		flex-direction: column;
		overflow: auto;
		gap: var(--item-gap);

		> .welcome {
			height: 100px;
			display: flex;
			align-items: center;

			> .logo {
				width: 200px;
				height: 200px;
				background-color: #252525;
			}

			> .left {
				flex: 1;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				> .hello {
					font-size: 24px;
					font-weight: bold;
				}

				> .notify {

					> span {
						font-size: 18px;
						color: orange;
						font-weight: bold;
					}
				}
			}

			> .right {
				width: fit-content;
				height: 40px;
				background-color: #252525;
				border-radius: 4px;
				padding: 0px 2px 0px 2px;
				display: flex;
				align-items: center;
				justify-content: center;

				> .dates {
					font-size: 14px;
					display: flex;
					align-items: center;
					cursor: pointer;

					&:hover {
						color: orange;
					}

					> i {
						margin: 10px;
					}
				}

				> .icons {
					width: 25px;
					height: 25px;
					margin: 6px;
					box-sizing: border-box;
					background-color: #303030;
					border-radius: 2px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;

					&:hover {
						color: orange;
					}
				}
			}
		}

		> .container {
			flex: 1;
			display: flex;
			gap: var(--item-gap);

			> .main {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: var(--item-gap);

				> .bubbles {
					position: relative;
					height: 150px;
					display: flex;
					gap: var(--item-gap);

					> .item {
						flex: 1;
						position: relative;
						background: linear-gradient(to bottom, #303030, #202020);
						border-radius: 8px;
						padding: 20px;
						border: 1px solid #282828;
						display: flex;
						flex-direction: column;

						//&:not(:last-child):after {
						//	content: '';
						//	position: absolute;
						//	width: 1px;
						//	height: 100%;
						//	top: 0px;
						//	right: -11px;
						//	border: 1px dashed #202020;
						//}

						> .icon {
							font-size: 30px;
							color: #656565;
						}

						> .label {
							font-weight: bold;
							color: #656565;

							> span {
								font-size: 12px;
								font-weight: bold;
								color: #656565;
							}
						}

						> .value {
							font-size: 35px;
							font-weight: bold;
							color: orange;
						}

						> .flip {
							position: absolute;
							width: 35px;
							height: 35px;
							top: 5px;
							right: 5px;
							font-weight: bold;
							border-radius: 8px;
							color: dodgerblue;
							background-color: #FFFFFF10;
							display: flex;
							align-items: center;
							justify-content: center;
							cursor: pointer;
						}
					}
				}

				> .sites-map-list {
					flex: 1;
					background: linear-gradient(to bottom, #303030, #202020);
					border: 1px solid #282828;
					padding: 10px;
					border-radius: 8px;
					display: flex;
					flex-direction: column;
					gap: 10px;

					> .sites-map {
						flex: 1;
						border-radius: 8px;
						overflow: hidden;
						display: flex;
						gap: 10px;

						> .map {
							flex: 1;
						}

						> .viewer {
							width: 500px;
							background: linear-gradient(to bottom, #303030, #202020);
							//border: 1px solid #282828;
						}
					}

					> .sites-list {
						flex: 1;
						//height: 300px;
						border-radius: 8px;
						overflow: hidden;
					}
				}
			}
	
			> .right {
				width: 500px;
				display: flex;
				flex-direction: column;
				gap: var(--item-gap);

				> .top {
					height: 150px;
					background: linear-gradient(to bottom, #303030, #202020);
					border: 1px solid #282828;
					border-radius: 8px;
				}

				> .bottom {
					flex: 1;
					background: linear-gradient(to bottom, #303030, #202020);
					border: 1px solid #282828;
					border-radius: 8px;
				}
			}
		}
	}

	> .foot {
		width: var(--page-width);
		height: 40px;
		background: linear-gradient(to bottom, #303030, #202020);
		border: 1px solid #282828;
		border-radius: 8px 8px 0px 0px;
		color: #707070;
		display: flex;
		align-items: center;
		justify-content: center;

		> .recent {
			padding: 10px;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			> a {
				color: orange;
				transition: 0.3s color;

				&:hover {
					color: yellow;
				}
			}
		}
	}

	> .color-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1000;
		pointer-events: none;

		//background: teal;
		//filter: brightness(0.25) contrast(1);
		//mix-blend-mode: screen;
	}
}